<li class="has-dropdown"><%= link_to 'Stock', stock_products_path %>
  <ul class="dropdown">
    <li><%= link_to 'View Products In Stock', stock_products_path %></li>
    <li><%= link_to 'New Purchase', new_purchase_path %></li>
  </ul>
</li>